root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
index_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.css,*.scss,*.sass,*.less]
index_style = tab

[*.java]
indent_size = 4

[*.js,*.jsx,*.ts,*.tsx]
index_style = tab

[*.json]

[*.md]
trim_trailing_whitespace = false

[*.py]
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 2
