{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"endOfLine": "lf",
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"semi": false,
	"singleQuote": false,
	"trailingComma": "all",
	"useTabs": true
}
